Flask[async]==3.0.0
pymongo==4.*
nltk==3.8.1
translate-shell==0.0.37 
#pymongo==3.* # The latest version is 4.*, but is incompatible with googletrans
#googletrans==3.*
#httpx==0.13.3  # Version compatible with googletrans 3.0.0
#httpcore==0.9.* # Version compatible with googletrans 3.0.0
