$font-family: 'Helvetica', 'Arial', sans-serif;

$background-100: #222;
$background-98: #2a2a2a;
$background-95: #333;
$background-80: #666;

$foreground-100: #fff;
$foreground-95: #eee;
$foreground-90: #ddd;
$foreground-80: #ccc;

$view-color: #0945a4;
$view-color-hover: darken($view-color, 5);

$action-color: #107303;
$action-color-hover: darken($action-color, 5);

$error-color: #f8d7da;
$error-color-dark: darken($error-color, 10);
$error-color-darker: darken($error-color, 30);

$content-new-word-color: rgba(0, 64, 255, 0.25);
$content-seen-word-color: rgba(255, 203, 0, 0.125);
$content-mark-word-color: rgba(204, 22, 22, 0.5);
$table-highlight-color: $content-seen-word-color;

$internal-link-color: $foreground-100;
