$font-family: var(--font-family);

$background-100: var(--background-100);
$background-98: var(--background-98);
$background-95: var(--background-95);
$background-80: var(--background-80);

$foreground-100: var(--foreground-100);
$foreground-95: var(--foreground-95);
$foreground-90: var(--foreground-90);
$foreground-80: var(--foreground-80);

$view-color: var(--view-color);
$view-color-hover: var(--view-color-hover);

$action-color: var(--action-color);
$action-color-hover: var(--action-color-hover);

$error-color: var(--error-color);
$error-color-dark: var(--error-color-dark);
$error-color-darker: var(--error-color-darker);

$content-new-word-color: var(--content-new-word-color);
$content-seen-word-color: var(--content-seen-word-color);
$content-mark-word-color: var(--content-mark-word-color);
$table-highlight-color: var(--table-highlight-color);

$internal-link-color: var(--internal-link-color);
